body, html {
    height: 100%;
    margin: 0;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* Imaginea folosita ca si fundal */
    background-image: url("bg.png");
    
    /* Adaugam efectul de blur  */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Dimensiune intreaga */
    height: 100%; 
    
    /* Centram si scalam imaginea  */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Pozitionam textul pe mijlocul paginii/imaginii */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }